<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="container my-5">
<h1 class="mb-4">Details for Page: {{.URL}}</h1>
<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <td>{{.Title}}</td>
    </tr>
    <tr>
        <th>Meta Description</th>
        <td>{{.MetaDescription}}</td>
    </tr>
    <tr>
        <th>Canonical URL</th>
        <td>{{.CanonicalURL}}</td>
    </tr>
    <tr>
        <th>Word Count</th>
        <td>{{.WordCount}}</td>
    </tr>
    <tr>
        <th>Page Load Time (seconds)</th>
        <td>{{.PageLoadTimeSeconds}}</td>
    </tr>
    <tr>
        <th>H1 Tags</th>
        <td>{{range .HTags.h1}}{{.}}<br>{{end}}</td>
    </tr>
    <tr>
        <th>Internal Links</th>
        <td>{{range .InternalLinks}}<a href="{{.}}" target="_blank">{{.}}</a><br>{{end}}</td>
    </tr>
    <tr>
        <th>External Links</th>
        <td>{{range .ExternalLinks}}<a href="{{.}}" target="_blank">{{.}}</a><br>{{end}}</td>
    </tr>
    <tr>
        <th>Improvements</th>
        <td>
            {{range .Improvements}}
            <div class="border p-2 mb-2">
                <strong>{{.Name}}:</strong><br>
                <strong>Field:</strong> {{.Field}}<br>
                <strong>Old Value:</strong> {{.OldValue}}<br>
                <strong>New Value:</strong> {{.NewValue}}<br>
                <strong>Status:</strong> {{.Status}}
            </div>
            {{end}}
        </td>
    </tr>
</table>
<a href="/pages" class="btn btn-primary mt-3">Back to Pages List</a>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

</html>
